node_modules
coverage
dist
build
.nyc_output
.coverage
.cache
.parcel-cache
.vscode
.idea
*.log
*.lock
pnpm-lock.yaml
yarn.lock
package-lock.json
.env
.env.*
.DS_Store
Thumbs.db
*.tmp
*.temp
logs
*.min.js
*.min.css
docs
.git
.husky
.eslintcache
.prettierrc
.prettierignore
.lintstagedrc.js
scripts/*.config.json
